@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');
/* * {
  text-align: center;
} */

/* h1 {
  color: #D72803;
  background: #F2B041;
  font-family: 'Tektur', cursive;
  font-style: italic;
  font-weight: 900;
  font-size: 40px;
} */

/* h2 {
  color: #5989D7;
} */

.box{
  text-align: center;
  color: brown;
  background: black;
  border: #709E3D 5px solid ;
  padding: 50px 20px ;
  font-family: "Rokkitt", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 50px;
}
/* #test-b {
  color: #5989D7;
  background:#98768E ;
} */

/* #test-a {
  color: #709E3D; 
}

#test-c {
  color: #709E3D;
} */

/* .color-green {
  color: #709E3D;
}

h3, h4, h5 {
  color: #FA9F1B;
} */